// src/scss/partials/_clients.scss
@use 'variables' as *;

.clients-section {
  padding: 6rem 0;
  background-color: $color-fondo;
  .section-title {
    margin-bottom: 4rem;
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.logos-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  &::before, &::after { // Efecto de difuminado en los bordes
    content: '';
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
  }
  &::before { left: 0; background: linear-gradient(to left, rgba(255,255,255,0), $color-fondo); }
  &::after { right: 0; background: linear-gradient(to right, rgba(255,255,255,0), $color-fondo); }
}

.logos-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 12); // Ancho de slide * número de slides
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  
  img {
    max-width: 180px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(0%);
      opacity: 1;
    }
  }
}