// scss/partials/_variables.scss

// Colores
$color-primario: #2E3A87;     // Azul oscuro del logo
$color-secundario: #40B2D6;   // Turquesa del logo
$color-texto: #333333;        // Gris oscuro para textos
$color-fondo: #FFFFFF;        // Blanco